.building {
    height: 150px;
    width: 150px;
    margin: 30px;
}
#house1 {
    background-color: gray;
}
#shop {
    background-color: gray;
}

.window {
    height: 50px;
    width: 50px;
    background-color: aqua;
}